html, body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
}

body {
	background: url('/img/background5.jpg') no-repeat center center fixed;
	background-size: cover;
}

.jumbotron {
	background: url('/img/Providence.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 750px;
	color: white;
	padding-top: 150px;
}

.jumbotron h1{
	font-size: 40px;
	font-weight: 600;
	width: 100%;
	/*background-color: rgba(178, 178, 178, 0.7);*/
	padding: 10px 10px;
}

.navbar {
	display: inline;
	color: white;
	padding-top: 20px;
	padding-bottom: 30px;
}

.navbar ul{
	margin-top: 20px;
}

.navbar h1 {
	font-size: 30px;
}

.btn .active{
	background: #4E9154;
}

.btn {
	color: #8AE07D;
}

.feature {
	background: URL('img/background4.jpg') no-repeat center center;
	background-size:cover;
	padding:20px;
	height: 700px;
	text-align: center;
	color: white;
}

.feature h1{
	font-size: 30px;
	font-weight: 600;
}

.feature p {
	font-weight: 600;
	border-bottom: 1px solid white;
}

.featured-img {
	margin-top: 30px;
}

.samples {
	color: white;
	font-weight: 600;
	background: transparent;
	text-align: center;
}

.samples h1{
	font-size: 40px;
	border-bottom: 1px solid white;
	margin-bottom: 30px;
	font-family: 'Droid Sans';
}

.thumbnail {
	border: 0px;
	background: transparent;
}

.images {
	padding-bottom: 30px;
}

.footer {
	height: 100px;
	background: black;
	color: white;
	display:inline;
}

.footer h1{
	font-size: 16px;
	color:#007696;
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 15px;
}

.footer ul {
	list-style: none;
}

.footer li{
	display: inline-block;
	font-size: 14px;
}

.footer a{
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
	cursor: pointer;
}

