html, body {
	margin: 0;
	padding:0;
}

video {
	width: 100%;
	height: 100%;
}

/*

.video .play {
	margin: 0, auto;
	padding-top: 45%;
	height: 75px;
	width: 75px;
	background-color:black;
}

.play {
	display: absolute;
	top: 200%;
}
*/